{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mb-3">Poll Questions</h1>
{% if question_list %}
{% for question in question_list %}
<div class="col-md-10 offset-md-4">
    <div class="user_card" style="margin-left: 10%;">
        <p class="lead">{{ question }}</p>
        <a href="" class="btn btn-primary btn-sm">Vote Now</a>
        <a href="{% url 'results' election.id %}" class="btn btn-secondary btn-sm">Results</a>
    </div>
</div>
<hr>
{% endfor %}
{% else %}
<div class="container h-30">
    <div class="d-flex justify-content-center h-30">
        <div class="user_card">
    <h3>No polls available</h3>
</div>
</div>
</div>
{% endif %}
{% endblock %}