{% extends 'base.html' %}

{% block content %}
<hr>
<div class="col-md-10 offset-md-4">
    <div class="user_card" style="margin-left: 10%;">
        <p class="lead">{{ question }}</p>
        <p>Owner: {{data1}}</p>
        <p>Added at: {{data2}}</p>
        <p>End at:  {{End_date}}</p>
        {% for answer in answers %}
            <p> {{answer}}</p>
        {% endfor %}    
        <a href="" class="btn btn-primary btn-sm mb-2">Vote Now</a>
        <a href="" class="btn btn-primary btn-sm mb-2">Results</a>
        <a href="/polls" class="btn btn-secondary btn-sm mb-2">Bakc to poll list</a>
    </div>
</div>

{% endblock %}