{% extends 'base.html' %}

{% block content %}
<hr>
<div class="col-md-8 offset-md-4">
    <div class="user_card" style="margin-left: 10%;">
        <p class="lead">{{ election }}</p>
        <p>Twórca głosowania: {{election.Owner_Id}}</p>
        <p>Dodano: {{election.Start_date}}</p>
        <p>Data zakończenia:  {{election.End_date}}</p>
        <p>Odpowiedzi:</p>
        {% for answer in answers %}
        <p>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-forward-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M9.77 12.11l4.012-2.953a.647.647 0 0 0 0-1.114L9.771 5.09a.644.644 0 0 0-.971.557V6.65H2v3.9h6.8v1.003c0 .505.545.808.97.557z"/>
          </svg> &nbsp; {{answer}} </p>
        {% endfor %}    
        <a href="{% url 'votingstage:cast/choice' election.pk %}" class="btn btn-primary btn-sm mb-2">Zagłosuj</a>
        <a href="{% url 'votingbooth:polls/results' election.pk %}" class="btn btn-primary btn-sm mb-2">Wyniki</a>
        <a href="/polls" class="btn btn-secondary btn-sm mb-2">Powrót do listy głosowań</a>
    </div>
</div>

{% endblock %}