{% extends 'base.html' %}

{% block content %}

<h1 class="text-center mb-3">Active polls</h1>
{% if question_list %}
{% for question in question_list %}
<div class="col-md-8 offset-md-4">
    <div class="user_card mb-4" style="margin-left: 10%;">
        <p class="lead">{{ question }}</p>
        <a href="{% url 'votingbooth:polls/detail' question.pk %}" class="btn btn-primary btn-sm mb-2">Details</a>

        <a href="{% url 'votingbooth:polls/results' question.pk %}" class="btn btn-secondary btn-sm mb-2">Results</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="container h-30">
    <div class="d-flex justify-content-center h-30">
        <div class="user_card">
    <h3>No active polls available</h3>
</div>
</div>
</div>
{% endif %}
<h1 class="text-center mb-3">Ended polls</h1>
{% if question_list_2 %}
{% for question in question_list_2 %}
<div class="col-md-8 offset-md-4">
    <div class="user_card mb-4" style="margin-left: 10%;">
        <p class="lead">{{ question }}</p>
        <a href="{% url 'votingbooth:polls/detail' question.pk %}" class="btn btn-primary btn-sm mb-2">Details</a>
        <a href="{% url 'votingbooth:polls/results' question.pk %}" class="btn btn-secondary btn-sm mb-2">Results</a>
    </div>
</div>
{% endfor %}
{% else %}
<div class="container h-30">
    <div class="d-flex justify-content-center h-30">
        <div class="user_card">
    <h3>List of ended polls is empty</h3>
</div>
</div>
</div>
{% endif %}
{% endblock %}