{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<html>
<br>
<div class="col-md-8 offset-md-4">
    <div class="user_card">
        <h2>Change password</h2>
        <form method="post" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <br>
          <button type="submit" class="btn btn-primary">Change password</button>
          <a href="/profile" class="btn btn-primary">Back to profile</a>
        </form>
    </div>
</div>
<br>  
</html>
{% endblock %}
