{% extends 'base.html' %}

{% block content %}

{% include 'pages/messages.html' %}

<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Witamy na stronie głównej Pollapp</h1>
          <p class="lead mb-5 text-white-50">Spójrz w dół, aby uzyskać więcej informacji o nas!</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>Co robimy?</h2>
        <hr>
        <p>Czy kiedykolwiek potrzebowałeś prostego narzędzia do zarządzania ankietą? Oto nasza nowa strona internetowa, która poradzi sobie z Twoją wyobraźnią!</p>
        
      </div>
      <div class="col-md-4 mb-5">
        <h2>Kontakt</h2>
        <hr>
        <address>
          <strong>Poll app</strong>
          <br>3481 Melrose Place
          <br>Beverly Hills, CA 90210
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (123) 456-7890
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">pollapp@example.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="user_card mb-4">
          <div class="card-body">
            <h4 class="card-title">Dostępne ankiety</h4>
            <p class="card-text">Nasza lista dostępnych ankiet wciąż rośnie. Kliknij przycisk poniżej, aby przejrzeć dostępne ankiety!</p>
          </div>
          <div class="card-footer">
            <a href="/polls" class="btn btn-primary">Dowiedz się więcej!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="user_card mb-4">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Utwórz własną ankietę</h4>
            <p class="card-text">Nie możesz znaleźć interesującego głosowania lub czy zagłosowałeś w każdy możliwy sposób? Nie martw się - możesz je stworzyć! Kliknij przycisk poniżej, aby utworzyć nową ankietę.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Dowiedz się więcej!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="user_card mb-4">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Kod źródłowy aplikacji</h4>
            <p class="card-text">Nasza strona internetowa i aplikacja są typu open source, więc możesz ich użyć do własnego projektu. Sprawdź nasz kod na Github lub klikając przycisk poniżej. </p>
          </div>
          <div class="card-footer">
            <a href="https://www.github.com/Wolfenekxd" class="btn btn-primary">Dowiedz się więcej!</a>
          </div>
        </div>
      </div>
    </div>
    

  </div>

{% endblock %}

