{% extends 'base.html' %}

{% block content %}

{% include 'pages/messages.html' %}

<header class="bg-primary py-5 mb-5">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Welcome to Poll app home page</h1>
          <p class="lead mb-5 text-white-50">Look down for more information about us!</p>
        </div>
      </div>
    </div>
  </header>

  <div class="container">

    <div class="row">
      <div class="col-md-8 mb-5">
        <h2>What We Do</h2>
        <hr>
        <p>Have you ever need a simple tool to manage a poll? Here we are with our new website that can handle your imgaination!</p>
        
      </div>
      <div class="col-md-4 mb-5">
        <h2>Contact Us</h2>
        <hr>
        <address>
          <strong>Poll app</strong>
          <br>3481 Melrose Place
          <br>Beverly Hills, CA 90210
          <br>
        </address>
        <address>
          <abbr title="Phone">P:</abbr>
          (123) 456-7890
          <br>
          <abbr title="Email">E:</abbr>
          <a href="mailto:#">pollapp@example.com</a>
        </address>
      </div>
    </div>
    <!-- /.row -->

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Avalaible polls</h4>
            <p class="card-text">Our list of avalaible polls is still growing. Click on the button below to browse avalaible polls!</p>
          </div>
          <div class="card-footer">
            <a href="/polls" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Create your own poll</h4>
            <p class="card-text">Can't find an interesting vote, or have you voted in every possible way? Don't worry - you can create one! Click on the button below to create a new poll.</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">
            <h4 class="card-title">Card title</h4>
            <p class="card-text">Our website and app is open-source so you can use it to your own project. Check our code at Github or by clicking the button below. </p>
          </div>
          <div class="card-footer">
            <a href="https://www.github.com/Wolfenekxd" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
    </div>
    <!-- /.row -->

  </div>

{% endblock %}

