{% extends 'base.html' %}
{% block content %}

<h1 class="text-center mb-3">{{ question }}</h1>

{% if error_message %}
<p class="alert alert-danger">
	<strong>{{ error_message }}</strong>
</p>
{% endif %}

<form action="{% url 'votingstage:vote' question.id %}" method="post">
	{% csrf_token %} 
	{% for answer in answers %}
		<div class="form-check">
			<input
				type="radio"
				name="answer"
				class="form-check-input"
				id="answer{{ forloop.counter }}"
				value="{{ answer.id }}"
			/>
			<label for="answer{{ forloop.counter }}">{{ answer.answer }}</label
			>
		</div>
	{% endfor %}
    <input type="submit" value="vote" class="btn btn-success btn-lg btn-block mt-4" />
    <a class="btn btn-secondary btn-sm mb-3" href="{% url 'polls/avalaible.html' %}">Back To Polls</a>
</form>
{% endblock %}